* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #1f1c2c, #8d94ab);
    color: #fff;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form_create_user, .container-login {
    display: none;
}

.login {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #e0e0e0;
}

.login input, .login textarea {
    width: calc(100% - 20px);
    height: 40px;
    margin: 10px auto;
    padding: 0 10px;
    border: 2px solid #6c757d;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
}

.login input[type="submit"], #create_user, #sair, #btn_criar_tarefa {
    background: #001cb8;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.login input[type="submit"]:hover, #create_user:hover, #sair:hover, #btn_criar_tarefa:hover {
    background: #3755ff;
}

.container-login {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.container-login h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #e0e0e0;
}

.container-login textarea {
    height: 100px;
    padding: 10px;
    border: 2px solid #6c757d;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
}

.tarefas-usuario h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #e0e0e0;
}

.tarefas-usuario ul {
    padding: 0;
}

.tarefas-usuario li {
    list-style: none;
    font-size: 16px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarefas-usuario li a {
    text-decoration: none;
    color: #ff5252;
    font-weight: bold;
    transition: color 0.3s;
}

.tarefas-usuario li a:hover {
    color: #ff1744;
}
